/* background-image: url(./images/background.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh; */

/* to-do list
put the goblin on screen with hp
rock paper scissors on bottom with pictures and level
button to upgrade them and increase damage with coins
your hp bar
money bar
make it work for mobile screens
*/
