/* game font */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-image: linear-gradient(to bottom right, #1f2937, black);
  border-bottom: 1px solid white;
  height: 5vh;
  font-family: "Press Start 2P", cursive;
  color: #f9faf8;
}

header h1 {
  word-spacing: -10px;
  align-self: center;
  font-size: 25px;
}

header button {
  margin-left: auto;
  margin-right: 10px;
  border: none;
  background: none;
  font-family: "Press Start 2P", cursive;
  color: #f9faf8;
}

main {
  background-image: url(../images/background.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mob-name {
  font-family: "Press Start 2P", cursive;
  color: #f9faf8;
  font-size: 15px;
  margin-top: 5rem;
}

#mob-health {
  border: 3px solid black;
  margin-top: 1rem;
  width: 35vw;
  height: 3vh;
  display: flex;
  gap: 1px;
}

.health {
  background-color: #af111c;
  border: 1px solid black;
  width: 50%;
}

#mob-portrait {
  width: 30vw;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* to-do list
rock paper scissors on bottom with pictures and level
button to upgrade them and increase damage with coins
your hp bar
money bar
make it work for mobile screens
*/

/* 
Middle 
Monster Portrait inside a div


Rock Paper Scissors
format: icon with words under it 

Bottom
HP Bar Money Bar                Shop(popup)
inside shop, have the three icons and bars next to them showing their current level and a level up button under it that deducts from coin total
*/
