/* game font */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  font-family: "Press Start 2P", cursive;
  margin: 0;
  box-sizing: border-box;
  /* background-image: url(./images/background.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh; */
  color: white;
}

/* welcome screen css */
.welcome {
  background-color: black;
}

.welcomeText {
  text-align: center;
}

span {
  opacity: 0;
  transition: all 1s ease-in;
}

span.fade {
  opacity: 1;
}

span.current::after {
  content: "";
  width: 30px;
  height: 2px;
  background: white;
  display: inline-block;
}

.rules {
  text-align: center;
  line-height: 40px;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.welcomes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
}
.name {
  opacity: 0;
  border: 2px solid #fff59e;
  border-radius: 30px;
}

[type="text"].name {
  width: 500px;
  height: 20px;
}

.name {
  font-family: "Press Start 2P", cursivee;
  font-weight: 100;
  color: #fff59e;
  background-color: red;
}

.loginButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* to-do list
transfer username from one js file to another
put the goblin on screen with hp
rock paper scissors on bottom with pictures and level
button to upgrade them and increase damage with coins
your hp bar
money bar
make it work for mobile screens
*/
